name: Generate snake game

on:
  schedule:
    - cron: "0 */12 * * *"  # a cada 12 horas (no minuto 0)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: euvitech
          outputs: |
            dist/github-contribution-grid-snake2.svg?color_snake=blue
            dist/github-contribution-grid-snake2-dark.svg?palette=github-dark&color_snake=blue

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
